{% extends '::base.html.twig' %}

{% block body %}
    <nav>
        <ul>
            {% block navigation %}
            <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endblock %}
        </ul>
    </nav>
    {% block content %}
    <h1>Admin</h1>
    <ul>
        <li><a href="{{ path('product') }}">Products</a></li>
        <li><a href="{{ path('review') }}">Reviews</a></li>
        <li><a href="{{ path('image') }}">Images</a></li>
    </ul>
    {% endblock %}
{% endblock %}
