{% extends 'angularjsBundle:Product:index.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <li><a href="{{ path('product_new') }}">New</a></li>
{% endblock %}

{% block content %}
    <h1>Product creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
